body{
    background-color:white;
    padding: 5% 20% 5% 20%;
    line-height: 1.3;
    font-family:sans-serif;
    transition: 0.5s ease all;
}

@media (max-width:800px){
    body{
        padding: 5% 8% 5% 8%;
    } 
}


p{
    color:#343534;
    font-size: 100%;
}
b, h1, h2, h3, h4, h5, h6{
    color:#284328;
}

h4{
    margin-block-start: 2em;
    margin-block-end: 0em;
}

a{
    text-decoration:none;
    color:#559a55;
}
a:hover{
    color:#366136;
    /*font-size: 101%;*/
}


/*#colorbox {
  border-style:solid;
  background-color:#E0e0e0;
  border-width:0px;
  border-color:#343535;
  border-radius:5px;
  padding:50px;
}*/



/* columns for photo gallery */
.column{
    float:left;
    width:25%;
    padding:0.5%;
    box-sizing:border-box;
}

/* make the entire image area a clickable link */
.column a{
    display:block;
    text-decoration:none;
}

/* ensure all photos share the same width and preserve aspect ratio */
.column a img{
    width:100%;
    height:auto;
    display:block;
}

/* helper to clear floated columns when wrapping them in a .row */
.row::after{
    content:"";
    display:table;
    clear:both;
}

/* responsive: 2 cols on medium screens, 1 col on small screens */
@media (max-width:800px){
    .column{ width:50%; }
}
@media (max-width:480px){
    .column{ width:100%; }
}